{% extends 'base.html' %}
{% load static %}

{% block title %}
Services
{% endblock title %}

{% block title1 %}
<div class="header_about"> </div>
{% endblock title1 %}

{% block content %}
<div class="grid_4">
		<div class="container">
	           <div class="about-grids service_box">
				   		{% for service in services %}
						<div class="col-sm-3 about-grid">
							<a href="{{ service.get_photo_service }}" title="name" rel="title2">
						    <div class="view view-first">
                              <img src="{{ service.get_photo_service }}" class="img-responsive" alt=""/>
                            </div>
							</a>
							<h3><a href="#">{{ service.title }}</a></h3>
							<p class="service_desc">{{ service.descr|truncatechars:70 }}</p>
						</div>
				   		{% endfor %}
				        <div class="clearfix"> </div>
	           </div>
	   </div>
	</div>
{% endblock content %}